.accordions{
    width: 70%;
    position: absolute;
    left: 15%;
    top: 180%; 
    font-weight: bolder;
}

.accordion{
    margin-bottom: 30px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.accordionHeader{
    padding-left: 6%;
    padding-right: 9%;
    font-size: larger;
    font-weight: 500;
}
